body div#a {
  text-decoration: underline;
  color: red;
}
body#body {
  font-size: 12px;
}
.unused {
  color: green;
}
div {
  color: blue;
}
body div, #a {
  color: yellow;
}

@media (min-width: 700px) {
  .unused {
    color: green;
  }
  body div, #a {
    color: red;
  }
  div {
    color: blue;
  }
}
