div {
  color: blue;
}
body div {
  color: black;
}
body div:target, #a:hover {
  color: yellow;
}
:not(p) {
  color: red;
}
.zone {
  font-size: 12px;
}
html span {
  color: green;
}
.zone {
  font-size: 14px;
}
